<tr>
	<td>
		<%=i%>
	</td>
	<td>
		<a href="/employees/<%=e.dataValues.id%>">
			<%=e.dataValues.name%>
		</a>
	</td>
	<td>
		<%=e.dataValues.email%>
	</td>
	<td>
		<%=e.dataValues.phone%>
	</td>
	<td>
		<%= e.startWorkTime %>
	</td>
	<td>
		<%= e.endWorkTime %>
	</td>
	<td class="text-center">
		<a type="button" class="btn btn-success" href="/employees/edit/<%=e.dataValues.id%>">
			<i class="bi bi-pencil-square"></i>
		</a>
	</td>
</tr>