<!DOCTYPE html>
<html lang="en">
<%- include('../partials/head', { title: 'Nhân viên' }); %>

<body>
	<%- include('../partials/navbar'); %>
	<div class="container-fluid">
		<%- include("../partials/flash") %>
		<div class="row">
			<main class="col-12 px-4">
				<div class="d-flex justify-content-between align-items-center pt-3 pb-2 mb-2 border-bottom">
					<h1>Danh sách nhân viên</h1>
				</div>
				<%- include('index-search', { query }); %>
				<% const numOfPage = Math.ceil(count / numOfRowPerPage) %>
				<% if (count === 0 || pageNo > numOfPage ) { %>
				<!-- no data -->
				<div class="row">
					<div class="col-6 offset-3 alert alert-dark" role="alert">
						<h1>Không có dữ liệu</h1>
						<p>Không tìm thấy dữ liệu nào khớp với tìm kiếm. <a class="alert-link" href="/employees">Đặt lại</a> bộ tìm kiếm ?</p>
					</div>
				</div>
				<% } else { %>
				<div class="table-responsive small">
					<table class="employees-list table table-bordered table-hover table-striped">
						<%- include('index-table-header.partial.ejs', { }); %>
						<tbody>
							<% for (let i = 0; i < employees.length; i++) { %>
							<%- include('index-row', { i, e: employees[i] }); %>
							<% } %>
						</tbody>
					</table>
				</div>
				<% } %>
				<%- include('index-bottom-nav.partial.ejs'); %>
			</main>
		</div>
	</div>
</body>

</html>