<!DOCTYPE html>
<html lang="en">
<%- include('../partials/head', { title: 'Nhân viên' }); %>

<body>
	<%- include('../partials/navbar'); %>
	<div class="container-fluid">
		<%- include("../partials/flash") %>
		<div class="row">
			<main class="col-12 px-4">
				<div class="d-flex justify-content-between align-items-center pt-3 pb-2 mb-3 border-bottom">
					<h1>Danh sách nhân viên</h1>
				</div>
				<%- include('index-search', { name }); %>
				<div class="table-responsive small">
					<table class="table table-bordered table-hover table-striped">
						<thead>
							<tr>
								<th scope="col">#</th>
								<th scope="col">Tên</th>
								<th scope="col">Email</th>
								<th scope="col">SĐT</th>
								<th scope="col">Giờ đi làm</th>
								<th scope="col">Giờ tan làm</th>
								<th scope="col" style="width:100px;">Thao tác</th>
							</tr>
						</thead>
						<tbody>
							<% for (let i=0; i < employees.length; i++) { %>
							<%- include('index-row', { i, e: employees[i] }); %>
							<% } %>
						</tbody>
					</table>

				</div>
			</main>
		</div>
	</div>
</body>

</html>