<!DOCTYPE html>
<html lang="en">
<%- include('../partials/head', {title: 'Thêm nhân viên' }) %>

<body>
	<%- include('../partials/navbar') %>
	<main class="container mt-3 mb-3">
		<%- include("../partials/flash") %>
		<h1 class="text-center">Nhập thông tin nhân viên</h1>
		<div class="lodge-form-container col-6 offset-3">
			<form class="needs-validation" action="/employees" method="POST" novalidate>
				<div class="mb-3">
					<label class="form-label" for="name">Họ và tên</label>
					<input class="form-control" type="text" id="name" name="name" placeholder="VD: Nguyễn Văn A" required>
				</div>
				<div class="mb-3">
					<label class="form-label" for="phone">Số điện thoại</label>
					<input class="form-control" type="text" id="phone" name="phone" required>
				</div>
				<div class="mb-3">
					<label class="form-label" for="email">Địa chỉ Email</label>
					<div class="input-group">
						<span class="input-group-text">@</span>
						<input class="form-control" type="email" id="email" name="email" placeholder="VD: tên@vídụ.com" required>
					</div>
				</div>
				<div class="row mb-3">
					<div class="col-6">
						<label for="startWorkTime" class="form-label">Giờ làm việc</label>
						<input value="<%=startWorkTime%>" class="form-control" type="time" name="startWorkTime" id="startWorkTime">
					</div>
					<div class="col-6">
						<label for="endWorkTime" class="form-label">Giờ tan làm</label>
						<input value="<%=endWorkTime%>" class="form-control" type="time" name="endWorkTime" id="endWorkTime">
					</div>
				</div>
				<button class="btn btn-success" type="submit">Thêm nhân viên</button>
				<a class="btn btn-secondary" href="<%=returnTo%>">Quay lại</a>
			</form>
		</div>
	</main>
</body>

</html>