<tbody>
	<% for (let i = 0; i < employee.records.length; i++) { %>
	<% const r = employee.records[i]%>
	<% let statusStr; let status %>
	<% if (r.isLate) { statusStr = 'Đi muộn' } %>
	<% if (r.isEarly) { statusStr = 'Về sớm' } %>
	<% if (r.isBoth) { statusStr = 'Đi muộn, về sớm' } %>
	<% if (r.isOk) { statusStr = 'Đủ công' } %>
	<% if (r.isNotWork) { statusStr = 'Không công' } %>
	<% if (r.isStatusUnset && !r.isWeekDay) statusStr = 'Nghỉ cuối tuần' %>
	<% let rowClassStr = '' %>
	<% if (!r.isWeekDay) rowClassStr = 'table-secondary' %>
	<tr class="<%=rowClassStr%>">
		<td>
			<% const d = new Date(r.date) %>
			<% if (d.getTime() <= Date.now()) { %>
			<a href="/records/<%=r.isNewRecord ? 'new' : 'edit'%>?date=<%=r.date%>&employeeID=<%=employee.id%>">
				<%=r.date%>
			</a>
			<% } else { %>
			<%=r.date%>
			<% } %>
		</td>
		<td>
			<% const hasS = !!r.startTime %>
			<%=hasS ? r.startTime : 'Không có'%>
		</td>
		<td>
			<% const hasE = !!r.endTime %>
			<%=hasE ? r.endTime : 'Không có'%>
		</td>
		<td>
			<%=statusStr%>
		</td>
		<td>
			<%= r.reason %>
		</td>
		<% if (user.role === 'checker') { %>
		<td class="text-center">
			<% if (!r.isOk && r.isWeekDay) { %>
			<div class="btn-group btn-group-sm" role="group">
				<a data-bs-toggle="tooltip" data-bs-title="Chấm đủ công" href="/records/accept?employeeID=<%=r.employeeID%>&date=<%=r.date%>&_method=PATCH" class="has-tooltip btn btn-outline-success">
					<i class="bi bi-check2"></i>
				</a>
			</div>
			<% } %>
		</td>
		<% } %>
	</tr>
	<% } %>
</tbody>
