<!DOCTYPE html>
<html lang="en">
<%- include('../partials/head', {title: `Nhân viên ${employee.name}`}) %>

<body>
	<%- include('../partials/navbar') %>
	<main class="container mt-3 mb-3">
		<%- include("../partials/flash") %>
		<h1><%=employee.name%> </h1>
		<%- include("show-first-section.partial.ejs") %>
		<% const isRecordTab = tab === 'records' %>
		<% const isHeatMapTab = tab === 'heat-map' %>
		<% let recordTabLink = `/employees/${employee.id}/records` %>
		<% let heatMapTabLink = `/employees/${employee.id}/heat-map` %>
		<% if (isHeatMapTab) { %>
		<% recordTabLink = recordTabLink + '?filter=' + r_filter + '&monthYear=' + r_monthYear + '&order=' + r_order + '&sort=' + r_sort + '&h_year=' + year%>
		<% } %>
		<% if (isRecordTab) { %>
		<% let monthStr = String(month) %>
		<% if (month < 10) monthStr = '0' + monthStr%>
		<% heatMapTabLink = heatMapTabLink + '?r_filter=' + filter + '&r_monthYear=' + `${monthStr}-${year}` + '&r_order=' + order + '&r_sort=' + sort + '&year=' + h_year%>
		<% } %>
		<ul class="nav nav-tabs mb-2">
			<li class="nav-item">
				<a class="nav-link<%=isRecordTab ? ' active' : ''%>" href="<%=recordTabLink%>">Chấm công</a>
			</li>
			<li class="nav-item">
				<a class="nav-link<%=isHeatMapTab ? ' active' : ''%>" href="<%=heatMapTabLink%>">Biểu đồ nhiệt</a>
			</li>
		</ul>
		<% if (isRecordTab) { %>
		<%- include('show-records.partial.ejs') %>
		<% } else if (isHeatMapTab) { %>
		<%- include('show-heat-map.partial.ejs') %>
		<% } %>
</body>

</html>