<div class="container history heat-map">
	<% let i = 0; const cellPerRow = 4 %>
	<% for ( const month of calendar.months ) { %>
	<% if ( i % cellPerRow === 0) { %>
	<div class="row mb-3">
		<% } %>
		<% const {monthName, monthNo, days, firstDayOffset } = month %>
		<div class="calendar col-3">
			<div class="month-indicator">
				<time datetime="<%=`${calendar.year}-${monthNo}`%>"> <%=`${monthName}`%> </time>
			</div>
			<div class="day-of-week">
				<div>T2</div>
				<div>T3</div>
				<div>T4</div>
				<div>T5</div>
				<div>T6</div>
				<div>T7</div>
				<div>CN</div>
			</div>
			<div class="date-grid">
				<% for (const day of days) { %>
				<% const { dayNo, dayStr, classStr, recordLink, tooltip } = day %>
				<% const firstDayClassStr = dayNo === 1 ? `first-day-offset-${firstDayOffset}` : '' %>
				<a data-bs-toggle="tooltip" data-bs-title="<%=tooltip%>" href="<%=recordLink%>" class="<%=classStr%> <%=firstDayClassStr%> d-flex align-items-center justify-content-center ">
					<time datetime="<%=dayStr%>"><%=dayNo%></time>
				</a>
				<% } %>
			</div>
		</div>
		<% if ( i % cellPerRow === cellPerRow - 1) { %>
	</div>
	<% if ( year === currentYear && parseInt(monthNo) >= currentMonth ) break %>
	<% } %>
	<% i++ %>
	<% } %>
</div>
<form method="GET" action="/employees/<%=id%>/heat-map" class="row g-3 align-items-center mb-3">
	<div class="col-3 offset-4">
		<label class="visually-hidden" for="year">Năm</label>
		<div class="input-group">
			<div class="input-group-text">Năm</div>
			<input min="2000" max="<%=currentYear%>" name="year" value="<%=year%>" type="number" class="form-control year-picker" id="year" placeholder="Năm">
		</div>
	</div>
	<div class="col-3">
		<button type="submit" class="btn btn-outline-primary">Đổi</button>
	</div>
</form>