<!DOCTYPE html>
<html lang="en">
<%- include('../partials/head', {title: `Nhân viên ${employee.name}`}) %>

<body>
	<%- include('../partials/navbar') %>
	<main class="container mt-3 mb-3">
		<%- include("../partials/flash") %>
		<h1><%=employee.name%> </h1>
		<div>
			<h2>
				<span>Thông tin cá nhân</span>
				<a href="/employees/edit/<%=employee.id%>" class="btn btn-outline-success">
					<i class="bi bi-pencil-square"></i>
				</a>
			</h2>
			<ul class="row">
				<div class="col-4">
					<li><b>Tên</b>: <%=employee.name%></li>
					<li><b>Email</b>: <%=employee.email%></li>
				</div>
				<div class="col-3">
					<li><b>SĐT</b>: <%=employee.phone%></li>
					<li><b>Ca làm</b>: <%=employee.shift%></li>
				</div>
			</ul>
		</div>
		<h2>Lịch sử đi làm</h2>
		<form method="GET" action="/employees/<%=id%>" class="row g-3 align-items-center mb-3">
			<div class="col-3 offset-4">
				<label class="visually-hidden" for="year">Năm</label>
				<div class="input-group">
					<div class="input-group-text">Năm</div>
					<input min="2000" max="<%=currentYear%>" name="year" value="<%=year%>" type="number" class="form-control year-picker" id="year" placeholder="Năm">
				</div>
			</div>
			<div class="col-3">
				<button type="submit" class="btn btn-primary">Đổi năm</button>
			</div>
		</form>
		<%- include('show-heat-map.partial.ejs') %>
</body>

</html>