<tr class="<%=r.rowColorClass%>">
	<td class="text-center">
		<%=i%>
	</td>
	<td>
		<a href="/employees/<%=e.id%>">
			<%=e.name%>
		</a>
	</td>
	<td>
		<%=r.startTime%>
	</td>
	<td>
		<%=r.endTime%>
	</td>
	<td>
		<% let isAtWorkLateText %>
		<% if ( typeof r.isAtWorkLate === 'boolean' ) { %>
		<% isAtWorkLateText = r.isAtWorkLate ? 'C贸' : 'Kh么ng' %>
		<% } else { %>
		<% isAtWorkLateText = '' %>
		<% } %>
		<%=isAtWorkLateText%>
	</td>
	<td>
		<% let isLeaveEarlyText %>
		<% if ( typeof r.isLeaveEarly === 'boolean' ) { %>
		<% isLeaveEarlyText = r.isLeaveEarly ? 'C贸' : 'Kh么ng' %>
		<% } else { %>
		<% isLeaveEarlyText = '' %>
		<% } %>
		<%=isLeaveEarlyText%>
	</td>
	<td>
		<%=r.reason%>
	</td>
	<td class="text-center">
		<div class="btn-group" role="group">
			<% if (r.isNoRecord) { %>
			<a href="/records/new?date=<%=r.date%>&employeeID=<%=e.id%>" class="btn btn-secondary">
				<i class="bi bi-pencil-square"></i>
			</a>
			<% } else { %>
			<a href="/records/edit?date=<%=r.date%>&employeeID=<%=e.id%>" class="btn btn-secondary">
				<i class="bi bi-pencil-square"></i>
			</a>
			<% } %>
		</div>
	</td>
</tr>