<!-- Modal -->
<div class="modal" id="confirm-delete" tabindex="-1" aria-labelledby="confirm-delete" aria-hidden="true">
	<div class="modal-dialog modal-dialog-centered">
		<div class="modal-content">
			<div class="modal-header text-bg-danger">
				<h1 class="modal-title fs-5" id="exampleModalLabel">Xác nhận xóa chấm công</h1>
				<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
			</div>
			<div class="modal-body">
				Nhấn xác nhận để xóa chấm công
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Quay lại</button>
				<a class="btn btn-danger" href="/records?date=<%=date%>&employeeID=<%=employeeID%>&_method=DELETE">Xác nhận</a>
			</div>
		</div>
	</div>
</div>
<form action="/records?_method=PUT" method="POST" novalidate>
	<input class="form-control" type="hidden" id="employeeID" name="employeeID" value="<%=employeeID%>">
	<input class="form-control" type="hidden" id="date" name="date" required value="<%=date%>">
	<div class="mb-3">
		<label for="">Nhân viên</label>
		<input disabled value="<%=name%>" type="text" class="form-control">
	</div>
	<div class="mb-3">
		<label for="">Ngày</label>
		<input disabled value="<%=date%>" type="date" class="form-control">
	</div>
	<div class="row mb-3">
		<div class="col-6 mb-2">
			<label class="form-label" for="startTime"> Đến lúc </label>
			<input class="form-control" type="time" id="startTime" name="startTime" required value="<%=startTime%>">
		</div>
		<div class="col-6">
			<label class="form-label" for="endTime"> Tan làm lúc </label>
			<input class="form-control" type="time" id="endTime" name="endTime" required value="<%=endTime%>">
		</div>
		<div class="col-6">
			<label class="form-label" for="status">Trạng thái</label>
			<select class="form-select" name="status" id="status">
				<option <%= status === '' ? 'selected' : '' %> value="">Không công</option>
				<option <%= status === '1' ? 'selected' : '' %> value="1">Đủ công</option>
				<option <%= status === '2' ? 'selected' : '' %> value="2">Đi muộn</option>
				<option <%= status === '3' ? 'selected' : '' %> value="3">Về sớm</option>
				<option <%= status === '4' ? 'selected' : '' %> value="4">Cả đi muộn và về sớm</option>
			</select>
		</div>
	</div>
	<div class="mb-3">
		<label for="reason" class="form-label">Giải trình</label>
		<textarea class="form-control" name="reason" id="reason" rows="4"><%= reason %></textarea>
	</div>
	<button class="btn btn-success" type="submit">Cập nhật</button>
	<a class="btn btn-secondary" href="<%=returnTo%>">Quay lại</a>
	<!-- Button trigger modal -->
	<button type="button" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#confirm-delete">
		Xóa
	</button>
</form>