<!DOCTYPE html>
<html lang="en">
<%- include('../partials/head', { title: 'Sửa chấm công' }); %>

<body>
	<%- include('../partials/navbar') %>
	<main class="container mt-5 mb-3">
		<%- include("../partials/flash") %>
		<h1 class="text-center fw-bold">Sửa chấm công</h1>
		<div class="col-6 offset-3 mt-4">
			<% if (isChecker) { %>
			<%- include('edit-checker-form', { employeeID, date, name, startTime, endTime, reason }) %>
			<% } else { %>
			<%- include('edit-employee-form', { employeeID, date, name, startTime, endTime, reason }) %>
			<% } %>
		</div>
	</main>
</body>

</html>