<form action="/records/reason?employeeID=<%=employeeID%>&date=<%=date%>&_method=PUT" method="POST" novalidate>
	<!-- <input class="form-control" type="hidden" name="employeeID" value="<%=employeeID%>">
	<input class="form-control" type="hidden" name="date" required value="<%=date%>"> -->
	<div class="mb-3">
		<label class="form-label" for="">Nhân viên</label>
		<input disabled value="<%=name%>" type="text" class="form-control">
	</div>
	<div class="mb-3">
		<label class="form-label" for="">Ngày</label>
		<input disabled value="<%=date%>" type="date" class="form-control">
	</div>
	<div class="row mb-3">
		<div class="col-6 mb-2">
			<label class="form-label" for="startTime"> Đến lúc </label>
			<input disabled class="form-control" type="time" id="startTime" value="<%=startTime%>">
		</div>
		<div class="col-6">
			<label class="form-label" for="endTime"> Tan làm lúc </label>
			<input disabled class="form-control" type="time" id="endTime" value="<%=endTime%>">
		</div>
		<div class="col-6">
			<label class="form-label" for="status">Trạng thái</label>
			<% let statusStr %>
			<% if (status === '') statusStr = 'Không công'  %>
			<% if (status === '1') statusStr = 'Đủ công'%>
			<% if (status === '2') statusStr =  'Đi muộn' %>
			<% if (status === '3') statusStr = 'Về sớm'  %>
			<% if (status === '4') statusStr = 'Cả đi muộn và về sớm' %>
			<input id="status" disabled value="<%=statusStr%>" type="text" class="form-control">
		</div>
	</div>
	<div class="mb-3">
		<% if(isReasonable) { %>
		<label for="reason" class="form-label">Giải trình</label>
		<textarea class="form-control" name="reason" id="reason" rows="4"><%= reason %></textarea>
		<% } else { %>
		<div>Giải trình: <%= reason %></div>
		<% } %>

	</div>
	<% if(isReasonable) { %>
	<button class="btn btn-success" type="submit">Cập nhật</button>
	<% } %>
	<a class="btn btn-secondary" href="<%=returnTo%>">Quay lại</a>
</form>