<!DOCTYPE html>
<html lang="en">
<%- include('../partials/head', {title: 'Thêm chấm công' }) %>

<body>
	<%- include('../partials/navbar') %>
	<main class="container mt-3 mb-3">
		<%- include("../partials/flash") %>
		<h1 class="text-center">Nhập thông tin chấm công</h1>
		<div class="col-6 offset-3">
			<% if (isChecker) { %>
			<%- include('new-checker-form', { employees, date, employeeID }) %>
			<% } else { %>
			<%- include('new-employee-form', { employees, date, employeeID }) %>
			<% } %>
		</div>
	</main>
</body>

</html>